name: Build XMonad

on:
  workflow_call:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:13

    steps:
    - uses: actions/checkout@v4
      with:
        repository: Raymo111/i3lock-color
        ref: 2.13.c.5
        fetch-tags: true

    - name: Install system dependencies
      run: |
        apt update
        apt install -y \
          autoconf \
          gcc \
          libcairo2-dev \
          libev-dev \
          libfontconfig1-dev \
          libgif-dev \
          libjpeg-dev \
          libpam0g-dev \
          libx11-xcb-dev \
          libxcb-composite0-dev \
          libxcb-image0-dev \
          libxcb-randr0-dev \
          libxcb-util0-dev \
          libxcb-xinerama0-dev \
          libxcb-xkb-dev \
          libxcb-xrm-dev \
          libxkbcommon-dev \
          libxkbcommon-x11-dev \
          make \
          pkg-config

    - name: Build project
      run: |
        ./build.sh
        mkdir bin
        cp build/i3lock bin/i3lock

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: i3lock-binaries
        path: bin/
